[project]
	description = UPM is a high level repository for sensors that use mraa
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Noel Eck (pylbert)
[access "refs/for/refs/*"]
	read = group user/Noel Eck (pylbert)
	push = group user/Noel Eck (pylbert)
	label-Code-Review = -2..+2 group user/Noel Eck (pylbert)
	label-Verified = -1..+1 group user/Noel Eck (pylbert)
	rebase = group user/Noel Eck (pylbert)
	removeReviewer = group user/Noel Eck (pylbert)
	submit = group user/Noel Eck (pylbert)
[access "refs/heads/*"]
	read = group user/Noel Eck (pylbert)
	create = group user/Noel Eck (pylbert)
	push = +force group user/Noel Eck (pylbert)
	pushMerge = group user/Noel Eck (pylbert)
[access "refs/tags/*"]
	push = +force group user/Noel Eck (pylbert)
	pushTag = group user/Noel Eck (pylbert)
	pushSignedTag = group user/Noel Eck (pylbert)
